# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os 

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../weather_database/weatherpy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lulea,SE,65.5842,22.1547,41.07,81,75,3.44,broken clouds
1,1,Hobart,AU,-42.8794,147.3294,40.05,90,1,9.22,clear sky
2,2,Hofn,IS,64.2539,-15.2082,51.82,71,100,10.36,light intensity drizzle
3,3,Bluff,NZ,-46.6000,168.3333,37.92,83,7,6.13,clear sky
4,4,Ushuaia,AR,-54.8000,-68.3000,47.86,43,0,16.11,clear sky
5,5,Rikitea,PF,-23.1203,-134.9692,73.53,78,88,15.70,light rain
6,6,Roald,NO,62.5833,6.1333,58.12,54,0,8.05,clear sky
7,7,Carutapera,BR,-1.1950,-46.0200,86.13,61,67,11.81,broken clouds
8,8,La Ronge,CA,55.1001,-105.2842,50.25,71,100,11.50,overcast clouds
9,9,Albany,US,42.6001,-73.9662,60.58,63,100,1.01,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 70

D2 Requirements - Input statements are written to prompt the user to enter min/max temp preferences

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function

#this willfilter on the entered min temp to max temp and entered max temp to max temp for cities 
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)] 


                                    
# Display sample data
preferred_cities_df.head(20)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
37,37,Beloha,MG,-25.1667,45.0500,69.93,61,0,4.83,clear sky
47,47,Port Elizabeth,ZA,-33.9180,25.5701,67.10,95,75,11.50,broken clouds
48,48,Payson,US,40.0444,-111.7321,68.38,52,40,4.00,scattered clouds
52,52,Carnarvon,AU,-24.8667,113.6333,68.95,68,0,17.45,clear sky
57,57,Pisco,PE,-13.7000,-76.2167,66.02,72,0,9.22,clear sky
65,65,Caceres,ES,39.5220,-6.3748,66.88,30,23,5.28,few clouds
69,69,Hasaki,JP,35.7333,140.8333,68.40,79,35,11.79,scattered clouds
73,73,Grinnell,US,41.7430,-92.7224,67.98,47,0,9.22,clear sky
77,77,Necochea,AR,-38.5473,-58.7368,65.89,43,38,7.92,scattered clouds
89,89,Port Alfred,ZA,-33.5906,26.8910,67.17,90,100,5.99,overcast clouds
98,98,Manakara,MG,-22.1333,48.0167,66.15,80,0,6.80,clear sky
111,111,Faya,SA,18.3851,42.4509,66.31,51,8,4.29,clear sky
114,114,Avera,US,33.1940,-82.5271,66.38,61,99,19.22,overcast clouds
126,126,Aksu,CN,41.1231,80.2644,69.01,25,100,8.19,overcast clouds
128,128,Saint-Philippe,RE,-21.3585,55.7679,69.39,82,41,10.63,scattered clouds
130,130,Namibe,AO,-15.1961,12.1522,65.84,90,56,7.54,broken clouds
140,140,Jackson,US,42.4165,-122.8345,65.88,59,7,0.98,clear sky
150,150,Yulara,AU,-25.2406,130.9889,67.60,30,100,11.25,overcast clouds
160,160,Lata,PT,40.1629,-8.3327,66.92,62,74,5.21,broken clouds
161,161,Puerto Ayora,EC,-0.7393,-90.3518,66.54,96,95,5.99,overcast clouds

D2 requirements - create a new dataframe based on min/max temp preferences

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
#pre null drop count
preferred_cities_df.count()

City_ID                70
City                   70
Country                70
Lat                    70
Lng                    70
Max Temp               70
Humidity               70
Cloudiness             70
Wind Speed             70
Current Description    70
dtype: int64

In [6]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna() 

# post null drop count
clean_travel_cities.count()

City_ID                70
City                   70
Country                70
Lat                    70
Lng                    70
Max Temp               70
Humidity               70
Cloudiness             70
Wind Speed             70
Current Description    70
dtype: int64

In [7]:
#display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
37,37,Beloha,MG,-25.1667,45.0500,69.93,61,0,4.83,clear sky
47,47,Port Elizabeth,ZA,-33.9180,25.5701,67.10,95,75,11.50,broken clouds
48,48,Payson,US,40.0444,-111.7321,68.38,52,40,4.00,scattered clouds
52,52,Carnarvon,AU,-24.8667,113.6333,68.95,68,0,17.45,clear sky
57,57,Pisco,PE,-13.7000,-76.2167,66.02,72,0,9.22,clear sky
65,65,Caceres,ES,39.5220,-6.3748,66.88,30,23,5.28,few clouds
69,69,Hasaki,JP,35.7333,140.8333,68.40,79,35,11.79,scattered clouds
73,73,Grinnell,US,41.7430,-92.7224,67.98,47,0,9.22,clear sky
77,77,Necochea,AR,-38.5473,-58.7368,65.89,43,38,7.92,scattered clouds
89,89,Port Alfred,ZA,-33.5906,26.8910,67.17,90,100,5.99,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [8]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy() 

# Display sample data
hotel_df.head(10)

              City Country  Max Temp Current Description      Lat       Lng
37          Beloha      MG     69.93           clear sky -25.1667   45.0500
47  Port Elizabeth      ZA     67.10       broken clouds -33.9180   25.5701
48          Payson      US     68.38    scattered clouds  40.0444 -111.7321
52       Carnarvon      AU     68.95           clear sky -24.8667  113.6333
57           Pisco      PE     66.02           clear sky -13.7000  -76.2167
65         Caceres      ES     66.88          few clouds  39.5220   -6.3748
69          Hasaki      JP     68.40    scattered clouds  35.7333  140.8333
73        Grinnell      US     67.98           clear sky  41.7430  -92.7224
77        Necochea      AR     65.89    scattered clouds -38.5473  -58.7368
89     Port Alfred      ZA     67.17     overcast clouds -33.5906   26.8910

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [9]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = "" 

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
37,Beloha,MG,69.93,clear sky,-25.1667,45.0500,
47,Port Elizabeth,ZA,67.10,broken clouds,-33.9180,25.5701,
48,Payson,US,68.38,scattered clouds,40.0444,-111.7321,
52,Carnarvon,AU,68.95,clear sky,-24.8667,113.6333,
57,Pisco,PE,66.02,clear sky,-13.7000,-76.2167,
65,Caceres,ES,66.88,few clouds,39.5220,-6.3748,
69,Hasaki,JP,68.40,scattered clouds,35.7333,140.8333,
73,Grinnell,US,67.98,clear sky,41.7430,-92.7224,
77,Necochea,AR,65.89,scattered clouds,-38.5473,-58.7368,
89,Port Alfred,ZA,67.17,overcast clouds,-33.5906,26.8910,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [10]:
#Importy additional dependencuies and Google API key 

# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

# Set the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [11]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
# Display sample data
hotel_df.head(15)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
37,Beloha,MG,69.93,clear sky,-25.1667,45.0500,
47,Port Elizabeth,ZA,67.10,broken clouds,-33.9180,25.5701,39 On Nile Guest House
48,Payson,US,68.38,scattered clouds,40.0444,-111.7321,Quality Inn Payson I-15
52,Carnarvon,AU,68.95,clear sky,-24.8667,113.6333,Hospitality Carnarvon
57,Pisco,PE,66.02,clear sky,-13.7000,-76.2167,Hotel San Isidro Oficial
65,Caceres,ES,66.88,few clouds,39.5220,-6.3748,Ahc Hoteles
69,Hasaki,JP,68.40,scattered clouds,35.7333,140.8333,Inubosaki Kanko Hotel
73,Grinnell,US,67.98,clear sky,41.7430,-92.7224,"Country Inn & Suites by Radisson, Grinnell, IA"
77,Necochea,AR,65.89,scattered clouds,-38.5473,-58.7368,dyd -mar Hotel
89,Port Alfred,ZA,67.17,overcast clouds,-33.5906,26.8910,The Halyards Hotel
98,Manakara,MG,66.15,clear sky,-22.1333,48.0167,La Residence Manakara
111,Faya,SA,66.31,clear sky,18.3851,42.4509,شيلة نسايم
114,Avera,US,66.38,overcast clouds,33.1940,-82.5271,
126,Aksu,CN,69.01,overcast clouds,41.1231,80.2644,Pudong Holiday Hotel
128,Saint-Philippe,RE,69.39,scattered clouds,-21.3585,55.7679,Le four à pain

In [13]:
hotel_df.count()

City                   70
Country                70
Max Temp               70
Current Description    70
Lat                    70
Lng                    70
Hotel Name             70
dtype: int64

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [15]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df["Hotel Name"] != ""]

In [16]:
clean_hotel_df.head(15)

#d2 requirements - empty rows are dropped and rows with no hotels are dropped

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
47,Port Elizabeth,ZA,67.10,broken clouds,-33.9180,25.5701,39 On Nile Guest House
48,Payson,US,68.38,scattered clouds,40.0444,-111.7321,Quality Inn Payson I-15
52,Carnarvon,AU,68.95,clear sky,-24.8667,113.6333,Hospitality Carnarvon
57,Pisco,PE,66.02,clear sky,-13.7000,-76.2167,Hotel San Isidro Oficial
65,Caceres,ES,66.88,few clouds,39.5220,-6.3748,Ahc Hoteles
69,Hasaki,JP,68.40,scattered clouds,35.7333,140.8333,Inubosaki Kanko Hotel
73,Grinnell,US,67.98,clear sky,41.7430,-92.7224,"Country Inn & Suites by Radisson, Grinnell, IA"
77,Necochea,AR,65.89,scattered clouds,-38.5473,-58.7368,dyd -mar Hotel
89,Port Alfred,ZA,67.17,overcast clouds,-33.5906,26.8910,The Halyards Hotel
98,Manakara,MG,66.15,clear sky,-22.1333,48.0167,La Residence Manakara
111,Faya,SA,66.31,clear sky,18.3851,42.4509,شيلة نسايم
126,Aksu,CN,69.01,overcast clouds,41.1231,80.2644,Pudong Holiday Hotel
128,Saint-Philippe,RE,69.39,scattered clouds,-21.3585,55.7679,Le four à pain
130,Namibe,AO,65.84,broken clouds,-15.1961,12.1522,Hotel Chik Chik Namibe
140,Jackson,US,65.88,clear sky,42.4165,-122.8345,Agate Village Apartments

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [17]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [18]:
# Set the file name.
output_data_file = "weatherpy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label = "City_ID")

#d2 requirements - DF is exported as a CSV file

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [19]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

#create markerlayer template

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [20]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>39 On Nile Guest House</dd>\n<dt>City</dt><dd>Port Elizabeth</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>broken clouds and 67.1 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Quality Inn Payson I-15</dd>\n<dt>City</dt><dd>Payson</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 68.38 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hospitality Carnarvon</dd>\n<dt>City</dt><dd>Carnarvon</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>clear sky and 68.95 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel San Isidro Oficial</dd>\n<dt>City</dt><dd>Pisco</dd>\n<dt>Country</dt><dd>PE</dd>\n<dt>Current Weather</dt><dd>clear sky and 66.02 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Ahc Hoteles</dd>\n<dt>City</dt><dd>Caceres</dd>\n<dt>Country</dt><dd>ES</dd>\n<dt>Current Weather</dt><dd>few clouds and 66.88 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Inubosaki Kanko Hotel</dd>\n<dt>City</dt><dd>Hasaki</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 68.4 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Country Inn & Suites by Radisson, Grinnell, IA</dd>\n<dt>City</dt><dd>Grinnell</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 67.98 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>dyd -mar Hotel</dd>\n<dt>City</dt><dd>Necochea</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 65.89 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Halyards Hotel</dd>\n<dt>City</dt><dd>Port Alfred</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 67.17 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>La Residence Manakara</dd>\n<dt>City</dt><dd>Manakara</dd>\n<dt>Country</dt><dd>MG</dd>\n<dt>Current Weather</dt><dd>clear sky and 66.15 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [21]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
47 -33.9180   25.5701
48  40.0444 -111.7321
52 -24.8667  113.6333
57 -13.7000  -76.2167
65  39.5220   -6.3748
69  35.7333  140.8333
73  41.7430  -92.7224
77 -38.5473  -58.7368
89 -33.5906   26.8910
98 -22.1333   48.0167

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [22]:
# # Add a marker layer for each city to the map. 

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

#D2 requirement - map with marker layer

Figure(layout=FigureLayout(height='420px'))